In [69]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (2.0.18)
Requirement already satisfied: ipython in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: traitlets>=5 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: stack-data in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)

In [73]:
#Q1
a = 0
def b():
    global a
    a = c(a)
    return a
    

def c(a):
    return a + 2
    
print(b())
print(b())
print(b())
print(a)

"""Explanation
1. a is a global variable
2. The initial value of a is 0
3. When print(b()) is ran the 1st time, a is the input for function c thereby making a = 2(return a + 2).print(b()) give a value of 2.
4. When print(b()) is ran the 2nd time, step 3 is ran again,a=2 already then becomes a = 4(return a + 2). print(b()) give a value of 4.
5. When print(b()) is ran the 3rd time, step 3 is ran again,a=4 already then becomes a = 6(return a + 2). print(b()) give a value of 6.
6. When print(a) is then ran, it gives a value of 6 which is already stored in the computer memory.

In conclusion, a is always going to be equal to b."""

2
4
6
6

In [98]:
#Q2
try:
    print("Enter file path or name: ")
    file = open(input())
    contents = file.read()
    file.close()
    print(len(contents))
    print(file)
except:
    print("File idterm.py not found.")

Enter file path or name:
C:\Users\user\Downloads\BDAT\BDAT 1004\Assignment\Problem Set 2\Filelength.txt
123
<_io.TextIOWrapper name='C:\\Users\\user\\Downloads\\BDAT\\BDAT 1004\\Assignment\\Problem Set 2\\Filelength.txt' mode='r' encoding='cp1252'>

In [120]:
#Q3
class Marsupial:
    'class that supports various methods'

    
    def __init__(self):
        'instantiates an empty list'
        self.q = []
        
    def put_in_pouch(self,item):
        return self.q.append(item)

    def pouch_contents(self):
        return print(self.q)
    def __str__(self):
        return  str(self.q)
    

class Kangaroo(Marsupial):

    def __init__(self,dx,dy):
        'instantiates an empty list'
        Marsupial.__init__(self) 
        self.dx=dx
        self.dy=dy
    
        
    def jump(self,dx,dy):
        self.dx += dx
        self.dy += dy
        return {self.dx,self.dy}
    
    def __str__(self):
        return f'I am a Kangaroo located at coordinates {(self.dx,self.dy)}'
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents() 

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

In [2]:
#Q4
def collatz(y):
    print(y)
    if y == 1:
        return
    if y % 2 == 0:
        collatz(y // 2)

    else:
        collatz(3*y + 1)

collatz(6)

6
3
10
5
16
8
4
2
1

In [89]:
#Q5
def binary(n):
    if n < 1:
        return n
    else:
        binary(n//2)
      
    print(n%2, end = '')
        

binary(9)

1001

In [27]:
#Q8
import sqlite3
con = sqlite3.connect('meteorology.db')
cur = con.cursor()
con =  cur.execute("CREATE TABLE climate (CITY text, COUNTRY text, SEASON text, TEMPERATURE float, RAINFALL float)" )
rows = [('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]

for row in rows:
    cur.execute ("INSERT INTO climate VALUES (?,?,?,?,?)",(row[0],row[1],row[2],row[3],row[4]))

In [29]:
#Q8
cur.execute("SELECT * FROM climate")
result=cur.fetchall()
print(result)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [34]:
#Q8a
cur.execute("SELECT temperature FROM climate")
for temp in cur:
    print(temp)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [36]:
#Q8b
cur.execute("SELECT DISTINCT CITY FROM climate")
for cities in cur:
    print(cities)

('Mumbai',)
('London',)
('Cairo',)

In [80]:
#Q8c
cur.execute("SELECT * FROM climate WHERE country = 'India'")

for z in cur:
    print(z)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [79]:
#Q8d
cur.execute("SELECT * FROM climate WHERE season = 'Fall'")

for fal in cur:
    print(fal)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [58]:
#Q8e
cur.execute("SELECT city, country, season, rainfall FROM climate WHERE rainfall BETWEEN 200 AND 400 ")
for e in cur:
    print(e)

('Mumbai', 'India', 'Fall', 346.0)
('London', 'United Kingdom', 'Winter', 207.7)
('London', 'United Kingdom', 'Fall', 218.5)

In [62]:
#Q8f
cur.execute("SELECT city, country, temperature FROM climate WHERE season='Fall' AND temperature > 20 ORDER BY TEMPERATURE ASC")
for e in cur:
    print(e)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

In [78]:
#Q8g
cur.execute("SELECT sum(rainfall) FROM climate WHERE city='Cairo'")
for e in cur:
    print(e)

(27.6,)

In [72]:
#8h
cur.execute("SELECT season,sum(rainfall) FROM climate group by season")
for e in cur:
    print(e)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [30]:
#9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

wordsUpper = [item.upper() for item in words]
wordsLower = [item.lower() for item in words]
wordLength = [len(item) for item in words]
wordCombo = [[item.upper(),item.lower(),len(item)] for item in words]
words4 = []
for item in words:
    if len(item) >= 4:
        words4+=[item]
    

print(wordsUpper)
print(wordsLower)
print(wordLength)
print(wordCombo)
print(words4)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']